<style>
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
</style>
*{
    margin:0;
    font-family:"Fira Sans", serif;
    
}

body{
    background: rgb(245, 245, 245);
}
.container{
    width: 1280px;
    margin: 0 auto;

}
/* header section starts */
.topdiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:24px 0;
}
.logo{
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 700;
    text-align: left;
}
.btn{
    padding: 15px 30px;
    color:#006A50;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    width: 122px;
    height: 52px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(0, 106, 80);
    font-family:"Fira Sans", serif;
}

/* header section ends */

/* banner section starts */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    padding: 80px 50px 80px 50px;
    margin-top: 20px;
    margin-bottom: 80px;
}
.banner-content{
    padding: 12px;
}
.hero-title{
    margin-bottom: 16px;
    color: rgba(14, 14, 14, 0.5);
    font-family: "Fira Sans", serif;
    font-size: 24px;
    font-weight: 500;
    
}

.hero-heading{
    margin-bottom: 24px;
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
}

.primary-btn{
    width: 274px;
    height: 56px;
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    border: 0;
}

.primary-btn:hover{
    background:rgb(247, 235, 207);
    color: #006A50;
}
/* banner section ends */

/* pillar section starts */

.pillars{
    margin-bottom: 80px;
}
.pillar-title{
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 32px;
}
.lightbox{
    width: 302px;
    height: 244px;
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 24px;
    text-align: justify;
}
.box-heading{
    margin-top: 25px;
    margin-bottom: 12px;
    
}

.pillar{
    display: flex;
    gap:24px;
}

.box-paragraph{
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;   
}
/* pillar section ends */

/* vision section starts */

.visions{
    margin-bottom: 80px;
}
.vision-title{
    margin-bottom: o;
    Font-weight:700;
    Font-size:40px;
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    
}
.vision-paragraph{
    margin-top: 24px;
    margin-bottom: 32px;
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}
.vision{
    display: flex;
    gap:24px;
    margin-bottom: 32px;
}
.vision-box{
    width: 412px;
    height: 325px;
    padding: 32px;
    border-radius: 16px;
    
}

.box-1{
    background: rgba(84, 144, 245, 0.2);
}

.box-2{
    background: rgb(198, 228, 214);
}

.box-3{
    background: rgb(247, 235, 207);
}

.learn-btn-1{
    width: 126px;
    height: 41px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    background: rgb(84, 144, 245);
    padding: 11px 20px 11px 20px;
    margin-top: 24px;
}
.learn-btn-1:hover{
    background:rgb(247, 235, 207);
    color: #006A50;
}


.learn-btn-2{
    width: 126px;
    height: 41px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px 11px 20px;
    background: rgb(9, 161, 92);
    margin-top: 24px;
}

.learn-btn-2:hover{
    background:rgb(247, 235, 207);
    color: #006A50;
}
.learn-btn-3{
    width: 126px;
    height: 41px;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 600;
    padding: 11px 20px 11px 20px;
    background: rgb(255, 194, 57);
    margin-top: 24px;
}

.learn-btn-3:hover{
    background:rgb(247, 235, 207);
    color: #006A50;
}
/* vision section ends */

/* quote section starts */
.quote{
    height: 160 px;
    padding: 48px 24px 48px 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
}
.quote img {
    position: absolute;
    left: 0px;
    top: 4.57px;
    padding-left: 24px;
    padding-top: 32px;
}
.leader-name{
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 600;
    margin-top: 12px;
}

.leader-designation{
    color: rgba(14, 14, 14, 0.6);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 4px;
}

/* quote section ends */

/* opinion section starts */
.opinion-record{
    padding:32px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
}
.opinion-title{
    margin-bottom: 24px;
    margin-top:80px;
    Font-weight:700;
    Font-size:40px;
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
}

table{
   width: 100%; 
   height: 409px;
   border-radius: 16px;
   background: rgb(255, 255, 255);
   padding: 32px;
   border-collapse: collapse;
}

.left-head{
    width: 80%;
    
    background: rgb(198, 228, 214);
    text-align: left;
    border: none;
}

.right-head{
    width: 20%;
    border:none;
    
    background: rgb(198, 228, 214);
    height: 44px;
    
}
td{
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
}

th{
    padding: 24px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    background: rgba(255, 255, 255, 0.1);
    color: rgb(14, 14, 14);
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.opinion{
    width: 124px;
    height: 24px;
    border: 1px solid rgb(14, 14, 14);
    border-radius: 4px;
    background: rgb(198, 228, 214);
    padding: 10px 14px 10px 14px;
    margin: 0 auto;
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    
    text-align: left;
}
/* opinion section ends */

/* blog section starts */
.news{
    margin-bottom: 80px;
}
.news h1{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
    margin-top: 80px;
    
}

.news-paragraph{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 24px;
    margin-bottom: 32px;
    
}
.blog{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:32px;
    padding: 48px;
    border-radius: 24px;
    background: rgb(255, 255, 255);
}
.blog img{
    border-radius: 24px;
}
.blog p{
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.blog h3{
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 700;
    margin-top: 0;
    
}
.blog-archive{
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.blog-content{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    
}

.blogwithbutton{
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    
}

.blog-btn{
    width: 139px;
    height: 48px;
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
    
}

.blog-btn:hover{
    background:rgb(247, 235, 207);
    color: #006A50;
}

/* blog section ends */

/* donation section starts */
.donate{
    margin-bottom: 80px;
}
.donate h1{
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}
.donate-paragraph{
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top:24px;
    margin-bottom:32px;
}
.amount{
    
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding:40px;
}
.amount:hover{
    background: rgb(198, 228, 214);
}

.amount p{
    color: rgba(14, 14, 14, 0.8);
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
}

.donation-amount{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-bottom: 32px;
}
.other-amount input[type="text"]{
    width: 952px;
    height: 24px;
    background: rgb(255, 255, 255);
    padding: 20px 40px 20px 40px;
    border: none;
    outline: none;
    
}
.donate input::placeholder {
    color: rgba(14, 14, 14, 0.3);
    font-family: "Fira Sans", serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    border: none;
    
}


.donate-button{
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 17px 34px 17px 34px;
    
}

.donate-button:hover{
    background:rgb(247, 235, 207);
    color: #006A50;
}
.donation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:32px;
}
/* donation section ends */

/* subscribe section starts */
.subscribe{
    height: 395px;
    border-radius: 24px;
    background: rgb(198, 228, 214);
    text-align: center;
    margin:80px 0;
    
}

.subscribe h1 {
    padding-top: 80px;
    padding-bottom: 16px;
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    
}
.subscribe-paragraph{
    color: rgba(14, 14, 14, 0.7);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 24px;
    width: 622px;
    margin: 0 auto;
    
    
}


.subscribe-btn{
    width: 150px;
    height: 56px;
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: rgb(255, 255, 255);
    font-family: "Fira Sans", serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    padding: 17px 34px 17px 34px;
    
}

.subscribe-btn:hover{
    background:rgb(247, 235, 207);
    color: #006A50;
}
.subscribe input[type="email"]{
    width: 600px;
    height: 56px;
    color: rgba(14, 14, 14, 0.3);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    border-radius: 8px 0px 0px 8px;
    background: rgb(255, 255, 255);
    border: none;
    outline: none;
}

.subscription{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
}

.subscription input::placeholder {
    color: rgba(14, 14, 14, 0.3);
    font-family: "Fira Sans", serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    padding: 18px 40px;
}
/* subscribe section ends */
/* footer section starts */

footer{
    text-align: center;
}

footer h2{
    color: rgb(14, 14, 14);
    font-family: "Fira Sans", serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
    margin-bottom: 32px;
}
hr{
    width: 1122px;
    margin: auto;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:23px;
    margin-top: 32px;
}

/* footer section ends */